@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


@import "tailwindcss";


a ,ul, span ,p, h1, h2, h3, h4, h5, h6, button {
  font-family: 'Oswald' , sans-serif;
}

/*3D Extruded Text to our h1 in hero */
.h1-3d-extrude {
  text-shadow:
    2px 2px 0 #A6000A,        
    4px 4px 0 rgba(0,0,0,0.4); 
}



@keyframes slide-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes slide-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


.animate-slide-left {
  animation: slide-left 22s linear infinite;
}

.animate-slide-right {
  animation: slide-right 22s linear infinite;
}

.hover\:pause:hover {
  animation-play-state: paused;
}




